NODE_ENV=
PORT=
MONGO_URI=
BCRYPT_SALT_ROUND=
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
ADMIN_EMAIL=admin@xmart.com
ADMIN_PASSWORD=Admin@123
ADMIN_PROFILE_PHOTO=
ADMIN_MOBILE_NUMBER=+8801999999999

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=